.weather-stats-item {
  flex: 1;
  display: flex;
  text-align: left;
}

.weather-stats-item > div.weather-stats-bar {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 3px;
  height: 45px;
  margin: 0;
  padding: 0;
  border-radius: 5px;
  vertical-align: bottom;
  background-color: rgba(0, 0, 0, 0.05);
}

.weather-stats-item > div.weather-stats-bar > div {
  width: 3px;
  margin: 0;
  padding: 0;
  border-radius: 5px;
}

.weather-stats-item > div.weather-stats-text {
  margin: 0 0 0 10px;
}

.weather-stats-item span {
  font-size: 12px;
  color: #999;
  margin: 0;
}

.weather-stats-item p {
  font-size: 16px;
  font-weight: bold;
  margin: 5px 0 0 0;
}
